# for ide
.idea/
.vscode/
frontend/.vscode/
frontend.idea/
Hardware/.vscode/
Hardware/.idea/

# for hardware
*.ini
*.pio
Hardware/include/secrets.h

# for frontend 
frontend/node_modules/
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts
frontend/.kotlin/
frontend/*.orig.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision

frontend/.metro-health-check*
frontend/*.tsbuildinfo
frontend/app-example
frontend//ios
frontend//android
